*{
  margin:0;
  padding:0;
}

body{
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/230395.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.box{
  display: none;
  border: 5px solid	#f8cd23;
  background-color: rgba(0, 0, 0, 0.45);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-family: 'Piedra', cursive;
  font-size: 3.5rem;
}
h2{
  font-size: 30px;
  font-weight: bold;
  color: 	#fff46a;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.info{
  height: 100%;
  float: left;
  width: 70%;
  color: 	#ffffd5;
  text-align: left;
  line-height: 40px;
  font-size: 20px;
}
a{
  color: 	#fdb62e;
}

button{
  font-family: 'Piedra', cursive;
  font-size: 2.5rem;
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  outline:none;
  border: 5px solid white;
  background-color: #669900;
}
button:hover{
  filter: drop-shadow(0 0 0.75rem gold);
}

#hide{
  display: none;
}
